html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 0;
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
}
section {
  height: 100vh;
}
/* bg video */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (min-width: 600px) {
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;

    z-index: -1;
  }
}
#game {
  height: auto;
}
#abc {
  width: 100%;
}
#abc h4 {
  font-size: 2.5rem;
  padding-left: 2rem;
  font-family: "Ubuntu";
}

/*navbar */
nav {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}
nav ul {
  float: right;
  display: flex;
}

nav ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  transition: 0.7s all;
  font-size: 2rem;
  font-family: "Montserrat-Light";
  height: 40px;
  align-items: center;
}
nav ul li:hover {
  background-color: #51c4d3;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}
.nav-item {
  padding-left: 9rem;
  padding-right: 9rem;
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*home section*/

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.brand {
  margin: auto;
  width: 100vw;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand h1 {
  font-size: 10.5rem;
  font-family: "Prompt", sans-serif;
  text-shadow: 0.2rem 0.2rem black;
  letter-spacing: 0.5rem;
  color: #51c4d3;
  text-align: center;
  clear: both;
  white-space: nowrap;
}

.brand p {
  font-size: 2.25rem;
  text-align: center;
  color: white;
  text-shadow: 0.1rem 0.1rem black;
  font-family: "Playfair Display", serif;
  white-space: nowrap;
}

.lady {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  z-index: 2;
  line-height: 0;
}
.lady img {
  width: 600px;
}
/* Features section */
#Features {
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
  opacity: 0.9;
  margin: 0;
  padding: 0;
  z-index: -1;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.features {
  display: flex;
}
.features img {
  width: 650px;
  padding-left: 100px;
}

.cards {
  font-size: 3.5rem;
  font-family: "Exo", sans-serif;
  list-style-type: none;
  font-weight: bold;
  line-height: 100px;
}

ul {
}

/* Game zone */
#game {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #1fc8db 74%);
  opacity: 0.9;
  display: flex;
  z-index: -1;
}

.Games img {
  display: none;
}

.Games h2 {
  font-family: "Odibee Sans", cursive;
  color: #aee0a1;
  font-size: 20.5rem;
  padding-top: 10rem;
  display: inline-block;
  padding-left: 7rem;
  line-height: 140%;
}

iframe {
  width: 60rem;
  height: 40rem;
  padding-top: 2rem;
  padding-right: 2rem;
  z-index: 1;
}

.g3 {
  width: 60rem;
  height: 60rem;
}

/* Music  */

#music {
  background-image: url("msc(2).jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#music h2 {
  font-family: "Permanent Marker", cursive;
  color: #c0fefc;
  font-size: 12rem;
  padding-top: 7rem;
  padding-left: 7rem;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}
.ms {
  width: 55%;
  display: flex;
  padding-left: 20%;
}

#medi {
  height: 110vh;
  width: calc(100vw - 1.15vw);
  background-image: url("medi.jpg");
  background-size: cover;
}
.medit img {
  height: 160vh;
  width: calc(100vw - 1.15vw);
  object-fit: cover;
  opacity: 0.85;
  z-index: -1;
  position: absolute;
}
.medit h2 {
  position: absolute;
  opacity: 1;
  font-size: 10rem;
  padding-top: 5rem;
  display: inline-block;
  padding-left: 7rem;
  align-self: center;
  z-index: 2;
}

.flip-card {
  position: absolute;
  background-color: transparent;
  opacity: 1;
  width: 90rem;
  height: 55rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  top: 25rem;
  left: 10rem;
}

.m1 {
  width: 100%;
  height: 100%;
  left: 0px;
  object-fit: cover;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-image: url("m2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
footer {
  background: #af7ab7;
  padding: 5px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #f7d5e5;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  video {
  }
  nav {
    padding-left: 25vw;
    position: fixed;
  }
  nav ul {
    display: none;
  }
  .brand {
    width: auto;
    padding-top: 100px;
  }
  .brand h1 {
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
  }
  .brand p {
    font-size: 1.25rem;
  }
  .brand img {
    width: 380px;
  }
  #Features {
    display: block;
    height: auto;
    padding: 50px 0;
  }
  .features {
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
  }
  .features ul {
    font-size: 2.2rem;
    line-height: 60px;
    padding: 0px;
  }
  .features img {
    padding: 0px;
    width: 350px;
  }
  #game {
    flex-direction: column;
    align-items: center;
  }
  .Games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 445px;
    padding-top: 20px;
  }
  .Games img {
    display: flex;
    width: 32rem;
    float: none;
    padding-top: 50px;
  }
  .Games h2 {
    font-size: 0px;
    position: hidden;
  }
  .ifr {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 30rem;
  }
  .Games iframe {
    width: 40rem;
    height: 40rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    z-index: 1;
  }
  #music {
    align-items: center;
    height: 650px;
  }
  #music h2 {
    font-size: 4rem;
    padding-left: 0;
  }
  .ms {
    display: none;
  }
  #music iframe {
    padding-right: 0;
    width: 30rem;
  }
  .container {
    justify-content: center;
    padding: 30px;
  }
}
