html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 0;
}
*{
  box-sizing: border-box;
}
#abc{
  width:100%;
  height:100vh;
  position:absolute;
}
#abc h4 {
  position: absolute;
  font-size: 2.5rem;
  padding-left: 2rem;
  font-family: "Ubuntu";
}
nav{
  width: 100%;
  position: ;

}
nav ul{
  float: right;

}
nav ul li .Brand{
  float: left;

}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  padding-top:1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}
nav ul li:hover{
  background-color:#51C4D3;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 2rem;
}
/* bg video */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}
.nav-item{
  padding-left: 9rem;
  padding-right: 9rem;
  font-size: 1.2rem;
  font-family: "Montserrat-Light";

}

#home{
  height: 100vh;;
  width: calc(100vw - 1.15vw);
}
.brand {
  margin: auto;
  width: 50%;
  padding: 10rem;
}

.brand h1 {
  position: relative;
  font-size: 10.5rem;
  font-family: 'Prompt', sans-serif;
  text-shadow: .2rem .2rem black;
  letter-spacing: .5rem;
  color: #51c4d3;
  text-align: center;
  clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  padding-top: 10rem;
}

.brand p {
  position: relative;
  font-size: 2.25rem;
  text-align:center;
  color: white;
  text-shadow: .1rem .1rem black;
  font-family: 'Playfair Display', serif;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10rem;
}

.lady{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  z-index: 2;
  line-height: 0;
  position: absolute;
  bottom: 0px;
    top: 350px;
    padding-left: 80px;
}
/* Features section */
#Features {
  object-fit: fill;
  height: calc(100vh);
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
  opacity: 0.9;
  margin: 0;
  padding: 0;
  z-index: -1;

}

.features img {
  position: absolute;
  padding-left: 70rem;
  width: 118rem;
}

.cards {
  margin-left: 20rem;
  padding-top: 23rem;
  font-size: 3.5rem;
  font-family: 'Exo', sans-serif;
  list-style-type: none;
  font-weight: bold;
}

ul {
  margin-bottom: 50;
}

li {
  padding-top: 2.5rem;
}

/* Game zone */
#game {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #1fc8db 74%);
  opacity: 0.9;
  display: flex;
  z-index: -1;

}

.Games img {
  width: 62rem;
  padding-bottom: 2rem;
  float: right;
  padding-right: 30rem;
  margin-left: 20rem;
  padding-top: 10rem;
}

.Games h2 {
  font-family: 'Odibee Sans', cursive;
  color: #AEE0A1;
  font-size: 20rem;
  padding-top: 10rem;
  display: inline-block;
  padding-left: 7rem;
}

iframe {
  width: 60rem;
  height: 40rem;
  padding-top: 2rem;
  padding-right: 2rem;
  z-index: 1;
}

.g3{
  width: 60rem;
  height: 60rem;
}

/* Music  */
.player h2{
}
#music{
  height: 100vh;;
  width: calc(100vw - 1.15vw);
  margin: 0;
  padding: 0;
  background-image: url('msc(2).jpg');
  background-size: cover;

}

#music h2{
font-family: 'Permanent Marker', cursive;
  color: #c0fefc;
  font-size: 12rem;
  padding-top: 7rem;
  display: inline-block;
  padding-left: 7rem;
  align-self: center;



}
.cincopa_responsive_wrapper{
  padding-top: 15rem;
  padding-left: 17rem;
  position: absolute;
}
.ms_back{


}
.ms{
position: absolute;
padding-top: 20rem;
padding-left: 10rem;

}

#medi{
height: 110vh;
width: calc(100vw - 1.15vw);
background-image: url('medi.jpg');
background-size: cover;

}
.medit img{
  height: 160vh;
  width: calc(100vw - 1.15vw);
  object-fit: cover;
  opacity: 0.85;
  z-index: -1;
  position:absolute;
}
.medit h2{
position: absolute;
opacity: 1;
font-size: 10rem;
padding-top: 5rem;
display: inline-block;
padding-left: 7rem;
align-self: center;
z-index: 2;
}

.flip-card {
  position:absolute;
  background-color: transparent;
  opacity: 1;
  width: 90rem;
  height: 55rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  top: 25rem;
  left: 10rem;
}

.m1{
  width: 100%;
    height: 100%;
    left: 0px;
    object-fit: cover;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img{

}

.flip-card-back {
background-image: url('m2.jpg');
background-repeat: no-repeat;
background-size: contain;
  color: white;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
footer{
  background: #AF7AB7;
  padding: 5px 0;

}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #F7D5E5;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}
